
.quiz-container{

    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(237, 242, 255);   
    display: flex;
    justify-content: center;
    height: 50vh;
    

}

.selected-answer{
    cursor: pointer;
}

.list{
    cursor: pointer;
}